In [1]:
import pandas as pd
df1 = pd.read_csv('2020.csv')
df1

,Country,Region,Happiness score,Economy,Social support,Health,Freedom,Generosity,Trust(Government Corruption)
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101
...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.4759,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265
149,Rwanda,Sub-Saharan Africa,3.3123,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542
150,Zimbabwe,Sub-Saharan Africa,3.2992,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929
151,South Sudan,Sub-Saharan Africa,2.8166,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157
152,Afghanistan,South Asia,2.5669,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226

In [2]:
df2 = pd.read_csv('2019.csv')
df2

,Country,happiness Score,economy,Social support,Health,Freedom,Generosity,Trust(Government Corruption)
0,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...
151,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [3]:
df3 = pd.read_csv('2018.csv')
df3

,Country,happiness Score,Economy,social support,Health,Freedom,generosity,Trust(Government Corruption)
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...
151,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [4]:
df4 = pd.read_csv('2017.csv')
df4

,Country,Happiness Rank,Happiness Score,Economy,Social support,Health,Freedom,Generosity,Trust(Government Corruption)
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

In [5]:
df5 = pd.read_csv('2016.csv')
df6 = pd.read_csv('2015.csv')

In [6]:
df1['year']=2020
df2['year']=2019
df3['year']=2018
df4['year']=2017
df5['year']=2016
df6['year']=2015

In [7]:
df1.columns = map(str.lower, df1.columns)
df2.columns = map(str.lower, df2.columns)
df3.columns = map(str.lower, df3.columns)
df4.columns = map(str.lower, df4.columns)
df5.columns = map(str.lower, df5.columns)
df6.columns = map(str.lower, df6.columns)

In [8]:
final=pd.concat([df1,df2,df3,df4,df5,df6])
final

,country,region,happiness score,economy,social support,health,freedom,generosity,trust(government corruption),year,health,happiness rank,family
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2020,NaN,NaN,NaN
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2020,NaN,NaN,NaN
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2020,NaN,NaN,NaN
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2020,NaN,NaN,NaN
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2020,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,3.4650,0.222080,NaN,NaN,0.592010,0.226280,0.551910,2015,0.42864,154.0,0.77370
154,Benin,Sub-Saharan Africa,3.3400,0.286650,NaN,NaN,0.484500,0.182600,0.080100,2015,0.31910,155.0,0.35386
155,Syria,Middle East and Northern Africa,3.0060,0.663200,NaN,NaN,0.156840,0.471790,0.189060,2015,0.72193,156.0,0.47489
156,Burundi,Sub-Saharan Africa,2.9050,0.015300,NaN,NaN,0.118500,0.197270,0.100620,2015,0.22396,157.0,0.41587
157,Togo,Sub-Saharan Africa,2.8390,0.208680,NaN,NaN,0.364530,0.166810,0.107310,2015,0.28443,158.0,0.13995

In [9]:
final['social support']=final['family']
final.drop(columns='family',inplace=True)
final

,country,region,happiness score,economy,social support,health,freedom,generosity,trust(government corruption),year,health,happiness rank
0,Finland,Western Europe,7.8087,1.285190,NaN,0.961271,0.662317,0.159670,0.477857,2020,NaN,NaN
1,Denmark,Western Europe,7.6456,1.326949,NaN,0.979333,0.665040,0.242793,0.495260,2020,NaN,NaN
2,Switzerland,Western Europe,7.5599,1.390774,NaN,1.040533,0.628954,0.269056,0.407946,2020,NaN,NaN
3,Iceland,Western Europe,7.5045,1.326502,NaN,1.000843,0.661981,0.362330,0.144541,2020,NaN,NaN
4,Norway,Western Europe,7.4880,1.424207,NaN,1.008072,0.670201,0.287985,0.434101,2020,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,3.4650,0.222080,0.77370,NaN,0.592010,0.226280,0.551910,2015,0.42864,154.0
154,Benin,Sub-Saharan Africa,3.3400,0.286650,0.35386,NaN,0.484500,0.182600,0.080100,2015,0.31910,155.0
155,Syria,Middle East and Northern Africa,3.0060,0.663200,0.47489,NaN,0.156840,0.471790,0.189060,2015,0.72193,156.0
156,Burundi,Sub-Saharan Africa,2.9050,0.015300,0.41587,NaN,0.118500,0.197270,0.100620,2015,0.22396,157.0
157,Togo,Sub-Saharan Africa,2.8390,0.208680,0.13995,NaN,0.364530,0.166810,0.107310,2015,0.28443,158.0

In [10]:
final.sort_values(["happiness score"], axis=0, 
                 ascending=False, inplace=True) 
last=final.tail(10)
first=final.head(10)
first

,country,region,happiness score,economy,social support,health,freedom,generosity,trust(government corruption),year,health,happiness rank
0,Finland,Western Europe,7.8087,1.285190,NaN,0.961271,0.662317,0.159670,0.477857,2020,NaN,NaN
0,Finland,NaN,7.7690,1.340000,NaN,NaN,0.596000,0.153000,0.393000,2019,0.98600,NaN
1,Denmark,Western Europe,7.6456,1.326949,NaN,0.979333,0.665040,0.242793,0.495260,2020,NaN,NaN
0,Finland,NaN,7.6320,1.305000,NaN,NaN,0.681000,0.202000,0.393000,2018,0.87400,NaN
1,Denmark,NaN,7.6000,1.383000,NaN,NaN,0.592000,0.252000,0.410000,2019,0.99600,NaN
1,Norway,NaN,7.5940,1.456000,NaN,NaN,0.686000,0.286000,0.340000,2018,0.86100,NaN
0,Switzerland,Western Europe,7.5870,1.396510,1.34951,NaN,0.665570,0.296780,0.419780,2015,0.94143,1.0
1,Iceland,Western Europe,7.5610,1.302320,1.40223,NaN,0.628770,0.436300,0.141450,2015,0.94784,2.0
2,Switzerland,Western Europe,7.5599,1.390774,NaN,1.040533,0.628954,0.269056,0.407946,2020,NaN,NaN
2,Denmark,NaN,7.5550,1.351000,NaN,NaN,0.683000,0.284000,0.408000,2018,0.86800,NaN

In [11]:
df7= first.head(1)
df7= df7.stack()
df7
df7.drop(df7.tail(1).index,inplace=True)
df7
df7.drop(df7.head(3).index,inplace=True)
df7

0  economy                          1.28519
    health                         0.961271
   freedom                         0.662317
   generosity                       0.15967
   trust(government corruption)    0.477857
dtype: object

In [12]:
df7 = pd.DataFrame(df7,columns=['finland'])
df7.reset_index
df7

                                 finland
0 economy                        1.28519
   health                       0.961271
  freedom                       0.662317
  generosity                     0.15967
  trust(government corruption)  0.477857

'''
df1=df1.iloc[:,0:3]
df1
df2=df2.iloc[:,0:3]
df3=df3.iloc[:,0:3]
df4=df4.iloc[:,0:3]
df5=df5.iloc[:,0:4]
df6=df6.iloc[:,0:4]
'''

import matplotlib.pyplot as plt
%matplotlib inline
df1.plot(x='Ladder score',y='Country name', kind='scatter')
plt.show()

import seaborn as sns

plt.plot(df1["Regional indicator"], df1["Ladder score"])
plt.show()

In [13]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_table
import plotly.graph_objs as go
from dash.dependencies import Input, Output
import plotly.express as px

In [14]:
app = dash.Dash()

'data': [
                go.Scatter(
                    x=df1['Country name'],
                    y=df1['Ladder score'],
                    mode='markers')
                    ],
                    'layout': go.Layout(
                xaxis={'title': 'country'},
                yaxis={'title': 'happiness score'},

In [15]:
app.layout = html.Div(children=[
    html.H1(children='Global happiness index', style={'backgroundColor':'#97151c','text-align':'center','color':'white'}),
    html.Label('Select year'),
    dcc.Slider(
        id= 'slider',
        min=2015,
        max=2020,
        value=2020,
        marks={
        2015: '2015',
        2016: '2016',
        2017: '2017',
        2018: '2018',
        2019: '2019',
        2020: '2020',
    },
    ),
    html.Br(),  
    html.Div(children=[
dcc.Graph(
        id='graph1',
        figure={
            'data' : [
                go.Scatter(
                x=df1['country'], y=df1['happiness score'], mode="markers", marker={"color": "#97151c"})],                                 
        
    'layout' : {
    'title' :'Happiness score in various regions',
        'xaxis': {
    'title': 'Country'},'yaxis': {
    'title': 'Happiness score'},
    #'plot_bgcolor':'black',
    #'paper_bgcolor':'#D3D3D3',
    'font':{'color':'black'},
    }},
    style={'display': 'inline-block'}),
dcc.Graph(
        id='graph2',
        figure={
            'data' : [
        go.Scatter(
                y=last['economy'], x=last['happiness score'],
                    marker={"color": "#97151c",
                                                        "line": {
                                                            "color": "#97151c",
                                                            "width": 15,
                                                        }},name='economy'
                    
                ),    
       go.Scatter(
                y=last['freedom'],x =last['happiness score'],
                    marker={"color": "#330a00",
                                                        "line": {
                                                            "color": "#330a00",
                                                            "width": 3,
                                                        },},
           name="freedom",),
            go.Scatter(
                y=last['health'], x=last['happiness score'],
                    marker={"color": "#e60000",
                                                        "line": {
                                                            "color": "#e60000",
                                                            "width": 5,
                                                        }},name='health'
                    
                ),    ],
        "layout": go.Layout(
                                                autosize=False,
                                                
                                                font={"family": "Raleway", "size":30},
                                                height=500,
                                                hovermode="closest",),
        'layout' : {
    'title' :'Various factors affecting happiness',
        'xaxis': {
    'title': 'Happiness score'},'yaxis': {
    'title': 'Various factors'}}},
                    style={'display': 'inline-block'}),   
        html.Div(children=[
dcc.Graph(
        id='graph4',
        figure={
            'data' :[
            go.Scatter(
                y=first['country'], x=first['happiness score'],mode="markers+text",
                text=first['year'],textposition='bottom right',
                marker={"color": "#97151c","line": {
                                                            "color": "#97151c",
                                                            "width": 10,}})],
        'layout' : {
    'title' :'Countries with highest happiness score','text-decoration': 'underline',
         'yaxis': {'title': 'Country'},
            'xaxis': {'title': 'Happiness score'}}},
    style={'display': 'inline-block'}
                                                                    ,),
dcc.Graph(
        id='graph5',
        figure={
            'data' :[
            go.Bar(
                x=last['country'], y=last['happiness score'],base="markers+text",
                text=first['year']
             ,marker={"color": "#97151c",})],
        'layout' : {
    'title' :'Countries with lowest happiness score', 'xaxis': {
    'title': 'Country'},'yaxis': {
    'title': 'Happiness score'}}},
    style={'display': 'inline-block'}
                                                                    ,)]),
html.Br(),
    dcc.Graph(
        id='graph6',
        figure={
            'data' :[
            go.Pie(
                labels=['economy','health','freedom','generosity','trust(government corruption)'],values=df7['finland'],
                hole=0.5, marker={'colors':px.colors.sequential.RdBu},
    title ='What really matters',
            )]}),    
    ])
])

In [ ]:
if __name__ == '__main__':
    app.run_server(port=4051)

Dash is running on http://127.0.0.1:4051/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4051/ (Press CTRL+C to quit)
127.0.0.1 - - [08/Jan/2021 18:22:59] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [08/Jan/2021 18:23:02] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [08/Jan/2021 18:23:02] "GET /_dash-dependencies HTTP/1.1" 200 -